<p>sign-up works!</p>
<div class="bodyclass">
    <div class="container">
      
      <div class="title">Customer Registration Form
          <div class="close" (click)="close()">+</div>
      </div>
      <div class="content">
          
        <form action="#">
          <div class="user-details">
              
            <div class="input-box">
              <span class="details">First Name</span>
              <input
                type="text"
                placeholder="Enter your fname"
                id="lblfname"
                name="txtfname"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Last Name</span>
              <input
                type="text"
                placeholder="Enter your lname"
                id="lbllname"
                name="txtlname"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">User Name</span>
              <input
                type="text"
                placeholder="Enter your username"
                id="lbluname"
                name="txtuname"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input
                type="email"
                placeholder="Enter your email"
                id="lblemail"
                name="txtemail"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input
                type="text"
                placeholder="Enter your number"
                id="lblmobileno"
                name="txtmobileno"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input
                type="password"
                placeholder="Enter your password"
                id="lblpassword"
                name="txtpassword"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Date Of Birth</span>
              <input
                type="date"
                placeholder="Enter your DOB"
                id="lbldob"
                name="txtdob"
                required
              />
            </div>
          </div>
          <span class="details">Enter Address</span>
          <div class="user-details">
            <div class="input-box">
              <label for="lbldoorno">Door Number</label>
              <input
                type="text"
                class="details"
                id="lbldoorno"
                name="txtdoorno"
                placeholder="Enter Door Number"
              />
            </div>
            <div class="input-box">
              <label for="lblstreet">Street</label>
              <input
                type="text"
                class="details"
                id="lblstreet"
                name="txtstreet"
                placeholder="Enter Street"
              />
            </div>
            <div class="input-box">
              <label for="lblcity">City</label>
              <input
                type="text"
                class="details"
                id="lblcity"
                name="txtcity"
                placeholder="Enter City"
              />
            </div>
            <div class="input-box">
              <label for="lblpincode">Pincode</label>
              <input
                type="text"
                class="details"
                id="lblpincode"
                name="txtpincode"
                placeholder="Enter Pincode"
              />
            </div>
          </div>
          <div class="gender-details">
            <input
              type="radio"
              name="gender"
              name="txtgender"
              id="lblgender"
              id="dot-1"
            />
            <input
              type="radio"
              name="gender"
              name="txtgender"
              id="lblgender"
              id="dot-2"
            />
            <input
              type="radio"
              name="gender"
              name="txtgender"
              id="lblgender"
              id="dot-3"
            />
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Male</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Female</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">Prefer not to say</span>
              </label>
            </div>
          </div>
  
          <div class="button text-center">
            <input type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>
  </div>
  