

<br/> 
<br>
<div class="container" id="container">
	<div class="form-container log-in-container">

    <form>
    <button type="submit" routerLinkActive="active" routerLink="/customerlogin">Log In As Customer</button>
    <br>
    <br>
    <button type="submit" routerLinkActive="active" routerLink="/adminlogin">Log In As Admin</button>
</form>	
</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Tour Package Booking 
                        Home Page</h1>
				<p>This website is full of Discounts And provides Best Tour Packages in the Market</p>
			</div>
		</div>
	</div>
</div>