
<div
  class="
    d-flex
    flex-column flex-md-row
    align-items-center
    p-3
    px-md-4
    mb-3
    bg-info
    border-bottom
    shadow
  "
>
  <h5 class="my-0 mr-md-auto font-weight-bold">Welcome To Admin Home Page</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a
      class="btn btn-secondary"
      routerLinkActive="active"
      routerLink="/customercreate"
      >Create Customer</a
    >
    &nbsp;
    
    
   
    <a
      class="btn btn-secondary"
      routerLinkActive="active"
      routerLink="/cuslist"
      >Customer List</a
    >
   
    &nbsp;
    <br/>
    <br/>
    <br/>
    <a
      class="btn btn-secondary"
      routerLinkActive="active"
      routerLink="/package-create"
      >Add Package</a
    >
    &nbsp;
    
    
    <a
      class="btn btn-secondary"
      routerLinkActive="active"
      routerLink="/packlist"
      >Package List for Customer</a
    >
    &nbsp;
    
    <a
      class="btn btn-secondary"
      routerLinkActive="active"
      routerLink="/packagelist"
      >Package List for Admin </a
    >
    &nbsp;
    <br/>
    <br/>
    <br/>
    <a
      class="btn btn-secondary"
      routerLinkActive="active"
      routerLink="/packagebookingcreate"
      >Add Package Booking </a
    >
    &nbsp;
   
    <a
      class="btn btn-secondary"
      routerLinkActive="active"
      routerLink="/packagebookinglist"
      >Package Booking List </a
    >
  </nav>
</div>